/*
 * Globals
 */

h1 {
  font-size: 47px;
  margin: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #DDD;
  background-color: #FFF;
  text-align: center;
  color: #ED7568;
}

/* Links */
a {
  color: #ED7568;
}
a:focus,
a:hover {
  font-weight: bold;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #fff;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #82BAF7;
  border: 1px solid #82BAF7;
}

img {
  width: 100%;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #6C7680;
  /* text-align: center; */
  /* text-shadow: 0 1px 3px rgba(0,0,0,.5); */
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.tab-content,
.tab-content>.active,
.site-wrapper {
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  /*
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  */
}
.site-wrapper {
  display: table;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: middle;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
  text-align: center;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}
.blurred-bg {
  background: url(../images/bg-main.jpg) no-repeat;
  background-position: 38% center;
  background-size: auto 100%;
  height: 93%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: -1;
  filter: blur(5px);
}

#home h1.cover-heading {
  background-color: rgba(255, 255, 255, 0.5); 
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  position: inherit;
  border: none;
  color: inherit;
}
img.my-photo {
  width: 125px;
  border: 1px solid #2170C9;
  border-radius: 50%;
  padding: 5px;
  margin-bottom: 15px;
}
.lead {
  font-size: 18px;
  margin-bottom: 13px;
  line-height: 1.2;
}
i.fa {
  margin: 0 7px;
  font-size: 23px;
}

a.site,
a.github,
a.drupal,
a.email,
a.telegram {
  font-size: 20px;
  width: 100%;
  margin: 2px 0;
}
a.email {
  padding: 10px 0;
}
#profile span {
  display: none;
}

#skills ul {
  text-align: left;
  padding: 0;
}
#skills ul li {
  background-image: url(../images/dot-grey.png);
  background-repeat: repeat-x;
  background-position: bottom 6px center;
  background-size: 3px;
  clear: both;
  list-style: none;
}
#skills ul li.exp {
  background-image: url(../images/dot-blue.png);
  color: #36AFE3;
}
#skills ul li span {
  background-color: #FFF;
  padding: 0 3px;
}
#skills ul li span.lvl {
  float: right;
}

img.gmail-icon,
img.tel-icon {
  width: 50px;
  background-color: #FFF;
  padding: 2px;
  border-radius: 5px;
}
img.tel-icon {
  border-radius: 50%;
  width: 45px;
}

.carousel-inner .img-bg {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  width: 100%;
  height: 390px;
  border: 1px solid #DDD;
}
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%
}
.caption-container {
  padding: 15px;
}
.caption-container .desc {
  font-size: 14px;
}
.table-responsive {
  border: 0;
}
.table {
  text-align: left;
  border-bottom: 1px solid #DDD;
}
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
  padding: 0 5px;
}
.table ul {
  margin-bottom: 5px;
  padding-left: 21px;
  list-style-type: circle;
}
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  top: initial;
  bottom: 3%;
}

@media (min-width: 768px) {
  .blurred-bg {
    background-position: center bottom;
  }
  h1 {
    font-size: 70px;
  }
  #home h1.cover-heading {
    font-size: 90px;
  }
  .lead {
    font-size: 25px;
  }
  .caption-container .desc,
  .table>tbody>tr>td,
  .table>tbody>tr>th,
  .table>tfoot>tr>td,
  .table>tfoot>tr>th,
  .table>thead>tr>td,
  .table>thead>tr>th {
    font-size: 18px;
  }
  a.email {
    float: right;
    width: 220px;
  }
  a.telegram {
    float: left;
    width: 220px;
  }
  #profile span {
    display: inherit;
  }
}

@media (min-width: 992px) {
  .carousel-inner .img-bg {
    height: 600px;
  }
}

@media (min-width: 1295px) {
  .blurred-bg {
    background-size: 100% auto;
  }
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}

.nav-tabs {
  background-color: #FFF;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  border-top: 1px solid #DDD;
  border-bottom: none;
}

.nav-tabs>li {
  float: none;
  display: inline-block;
}

.nav-tabs>li>a {
  font-size: 20px;
  border-width: 0;
}

.glyphicon {
  margin-bottom: 2px;
  padding-bottom: 4px;
}

.mn-ltr {
  display: none;
  font-size: 17px;
}

.nav-tabs>li>a:hover {
  color: #ED7568;;
  background-color: transparent;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
  background-color: transparent;
  border-width: 0;
  color: #ED7568;
  font-weight: bold;
}

.nav-tabs>li>a:hover>.glyphicon,
.nav-tabs>li.active>a>.glyphicon,
.nav-tabs>li.active>a:focus>.glyphicon,
.nav-tabs>li.active>a:hover>.glyphicon {
  border-bottom: 1px solid #ED7568;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }

  .mn-ltr {
    display: block;
  }
  .nav-tabs>li>a {
    font-size: 25px;
  }
  .glyphicon,
  .nav-tabs>li>a:hover>.glyphicon,
  .nav-tabs>li.active>a>.glyphicon,
  .nav-tabs>li.active>a:focus>.glyphicon,
  .nav-tabs>li.active>a:hover>.glyphicon {
    border: none;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}
